*{
  padding: 0;
  margin: 0;
  box-sizing: border-box;
  font-family: poppins;
}
button {
  font-family: poppins;
  cursor: pointer;
}
.headline {
  text-align: center;
  margin-bottom: 2rem;
  color: #fff;
}
.container {
  width: 100%;
  min-height: 100dvh;
  background: linear-gradient(135deg, #153677, #4e085f );
  padding: 2rem;
}
.todo-wrapper{
  width: 100%;
  max-width: 540px;
  background-color: #fff;
  margin: 100px auto 0;
  padding: 40px 30px 50px;
  border-top-right-radius: 20px;
  border-top-left-radius: 20px;
  box-shadow: -1px -5px 5px 20px cornflowerblue;
}
.todo-list {
  text-align: center;
  padding-bottom: 20px;
}
.input-addbtn-wrapper {
  display: flex;
  justify-content: space-around;
}
.todo-input {
  width: 70%;
  height: 50px;
  padding: 20px 20px;
  border-radius: 15px;
  background-color:#fff;
  color: #000;
  outline-color: #4e4b4b;
  caret-color: #000;
  border: 1px solid grey;
}
.todo-input::placeholder {
  color: #000;
}
.add-todo-btn,
.del-btn {
  padding: 10px 20px;
  border: 2px solid black;
  border-radius: 10px;
}
.add-todo-btn {
  background-color: cornflowerblue;
}
.todo-output {
  width: 100%;
  max-width: 540px;
  height: max-content;
  background-color: #fff;
  margin: auto;
  border-bottom-right-radius: 20px;
  border-bottom-left-radius: 20px;
  display: flex;
  flex-direction: column;
  padding-top: 2rem;
  box-shadow: -1px -5px 5px 20px cornflowerblue;
}
.output-tag {
  list-style: none;
  color: #153677;
  margin-bottom: 40px;
  padding-left: 45px;
  cursor: pointer;
  position:  relative;
  /* display: inline-flex; */
}
.output-tag::before {
  content: '';
  width: 24px;
  height: 24px;
  border-radius: 50%;
  border: 2px solid limegreen;
  position: absolute;
  left: 10px;
} 
 .output-tag.checked {
  text-decoration: line-through;
}
 .output-tag.checked::before {
   content: '✔';
   text-align: center;
   background-color: limegreen;
   color: #fff;
}
.del-btn {
  background: pink;
  margin-right: 30px;
  float: right;
}
footer h3 {
  color: #fff;
  text-align: center;
  margin-top: 10rem;
}
/* MEDIA QUERY  590px*/
 @media (max-width: 36.875rem) {
  .todo-input {
    width: 65%;
    height: 50px;
  }
  .add-todo-btn,
  .del-btn {
    padding: 10px 3%;
  } 
} 
/* 500px */
@media (max-width: 31.25rem) {
  .body {
    height: 100dvh;
  }
  .todo-wrapper {
    padding: 40px 10px 50px;
  }
  .todo-output-wrapper {
    display: grid;
  }
  .output-tag {
    font-size: 1.1rem;
  }
  .del-btn {
    margin-right: 10px;
    padding: 10px 7px;
    float: right;
  }
}
/* 470px */
@media (max-width: 29.375rem) {
  .todo-wrapper {
    padding: 40px 10px 50px;
    display: flex;
    flex-direction: column;
  }
  .todo-output-wrapper {
    display: grid;
  }
  .del-btn {
    margin-right: 10px;
    padding: 10px 7px;
  }
}
/* 435px */
@media (max-width: 27.1875rem) {
  .input-addbtn-wrapper {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .todo-input {
    width: 100%;
    height: 55px;
    margin-bottom: 15px;
  }
  .add-todo-btn {
    padding: 14px 25px;
    font-size: 1rem;
  }
  .output-tag::before {
    width: 30px;
    height: 30px;
  }
  .output-tag {
   font-size: 1.3rem;
   padding-left: 50px;
  }
  .del-btn {
    width: 70%;
    margin-top: 20px;
    margin-right: 25%;
    font-size: 1rem;
  }
}
/* 352px  */
@media (max-width: 22rem) {
  .headline {
  font-size: 1.9rem;
  margin-bottom: 0;
  }
  .todo-wrapper {
   margin-top: 4rem;
  }
}

